<div class="page-content">

  <div class="row">
    <div class="col-md-2">
        <div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a href="/dashboard"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                    <li><a href="/meeting"><i class="glyphicon glyphicon-list"></i>Meetings</a></li>
                    <li><a href="/task"><i class="glyphicon glyphicon-sound-stereo"></i>Users</a></li>
                    <!-- <li><a href="/calendar"><i class="glyphicon glyphicon-calendar"></i> Events</a></li> -->
                    <li><a href="/" (click)="authService.logout()"><i class="glyphicon glyphicon-log-out"></i> log out</a></li><!-- LOG OUT PAGE -->
                </ul>
        </div>
    </div>
      
      
<div class="row">
    <div class="col-md-8">
      <div class="content-box-large"> 
        <div class="panel-heading">
        <div class="panel-title">All Users Of EasyMeet</div>
        
        <div class="panel-options">
          <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
          <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
      </div>
        <div class="panel-body">
          <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Total Meeting Created</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let user of userArray ;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.total_meeting}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>