

     <div class="col-md-10">
      <div class="row">
          <div class="col-md-8">
              <div class="content-box-large">
                  <div class="panel-heading">
                      <div class="panel-title"><h3>Summary For *TITLE OF Meeting *</h3></div>
                      
                      <div class="panel-options">
                          <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                          <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                      </div>
                  </div>
                  <div class="panel-body" >
                      <p style="text-align:justify">
                      Our platform consists of dedicated conference applications and CMS Panel for the organizer, where he manages the entire content of the application and can send a PUSH notifications to all participants at any time. CMS panel gives almost unlimited possibilities to modify the content of the app and allows to change it at any time, even during the event.
                      <br><br>
                      Participants have access to a native mobile applications with all the necessary information. From agendas to social widgets and our own fully-featured networking solution!
                      </p>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="row">
                  <div class="col-md-12">
                      <div class="content-box-header">
                          <div class="panel-title">Name of Participents</div>
                          
                          <div class="panel-options">
                              <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                              <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                          </div>
                      </div>
                      <div class="content-box-large box-with-header">
                          <h5>
                          Speker1:ABCD<hr>
                          Speker2:EFGH<hr>
                          Speker3:PQRS<hr>
                          Speker4:XYZ<hr>
                          </h5>
                          <br /><br />
                      </div>
                  </div>
              </div>
              
          </div>
      </div>

  </div>    