
      <div class="row">
          <div class="col-md-8">
              <div class="content-box-header">
                  <div class="panel-heading">
                      <div class="panel-title"><h3>Title:{{click.meeting.title}}</h3></div>
                      
                      <div class="panel-options">
                          <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                          <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                      </div>
                  </div>
                  <div class="panel-body" >
                      Date & Time:{{click.meeting.timestamp | date:'dd/MM/yyyy HH:mm'}}
                      <BR><BR>
                      Description:{{click.meeting.description}}
                      <BR><BR>
                      Keyword:{{click.meeting.summery}}
                      <br><br>
                      Sentiment:{{click.meeting.sentiment}}
                      <br><br>
                      Meeting Presentation:<BR>{{click.meeting.speech_to_text}}
                      <br><br>
                      Speaker labels:
                      <div *ngFor="let label of click.meeting.speaker_labels">
                        {{label}}
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="row">
                  <div class="col-md-12">
                      <div class="content-box-header">
                          <div class="panel-title">Name of Participents</div>
                          
                          <div class="panel-options">
                              <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                              <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                          </div>
                      </div>
                      <div class="content-box-large box-with-header" >
                          <h5 *ngFor="let p of click.meeting.participants">
                            {{p}}<hr>
                          </h5>
                          <br /><br />
                      </div>
                  </div>
              </div>
              
          </div>
      </div>
<h4><i class="glyphicon glyphicon-arrow-left" (click)="click.changeComponent()"  style="cursor:pointer"><BR> Back</i></h4>