<div class="panel-heading">
  <div class="panel-title">All Available Meetings:</div>

  <div class="panel-options">
    <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
    <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
  </div>
<table class="table"> 
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Description</th>
      <th>Date of Meeting</th>
      <th>Total Participents</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let meeting of m.meetingArray;let i=index">
      <td (click)="click.goDetail(meeting)" style="cursor:pointer" >{{i+1}}</td>
      <td (click)="click.goDetail(meeting)" style="cursor:pointer" >{{meeting.title}}</td>
      <td (click)="click.goDetail(meeting)" style="cursor:pointer" >{{meeting.description}}</td>
      <td (click)="click.goDetail(meeting)" style="cursor:pointer" >{{meeting.timestamp | date:'dd/MM/yyyy  HH:mm'}}</td>
      <td (click)="click.goDetail(meeting)" style="cursor:pointer" >{{meeting.participants.length}}</td>
    </tr>
  </tbody>
</table>
</div>