<table class="table"> 
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Agenda</th>
      <th>Date of Conduction</th>
      <th>Time Left For Meeting</th>
      <th>Created By</th>
    </tr>
  </thead>
  <tbody>
    <tr class="success">
      <td>1</td>
      <td>Ionic framwork discussion</td>
      <td>1.Discuss various Software Where Project Can Build<br>2.How many Os Should support </td>
      <td>23 March 2019 </td>
      <td>2 day</td>
      <td>Ms Dhoni</td>
    </tr>
    <tr class="danger">
      <td>2</td>
      <td>Demo Meet</td>
      <td>Discuession On loss of company </td>
      <td>24 March 2019 </td>
      <td>3 day</td>
      <td>Rohit Sharma</td>
    </tr>
    <tr class="warning">
      <td>3</td>
      <td>How to Win Ipl</td>
      <td>Which playing 11 should be there</td>
      <td>23 March 2019</td>
      <td>2 day</td>
      <td>Virat Kholi</td>
    </tr>
  </tbody>
</table>